gensim
ipykernel
ipython
jellyfish
lxml
keras
matplotlib
nltk
num2words
numpy
pandas==1.5.3
plotly_express
pyLDAvis
scikit-learn
scipy
sklearn_crfsuite
stop_words
tensorflow
tqdm
wordcloud
beautifulsoup4
